## **WEEK5 RecSys assignment**

### : **Collaborative Filtering** ì§ì ‘ êµ¬í˜„í•´ë³´ê¸°
<br>

#### ë¬¸ì œëŠ” ì½”ë“œì˜ ë¹ˆ ë¶€ë¶„ì„ ì±„ìš°ëŠ” ê³¼ì œì…ë‹ˆë‹¤.
<br>

##### ì§ˆë¬¸ ìˆìœ¼ì‹œë©´ 22ê¸° ì¡°í•˜ëŠ˜ì—ê²Œ ì—°ë½ì£¼ì„¸ìš”

## **Data**

### MovieLens Data
- ì´ ë°ì´í„°ëŠ” ì´ 3ê°€ì§€ì˜ íŒŒì¼ë¡œ êµ¬ì„±ë©ë‹ˆë‹¤.
  > ì‚¬ìš©ì ë°ì´í„° : u.user
  >
  > ì˜í™”ì— ëŒ€í•œ ë°ì´í„° : u.item
  >
  > ì˜í™” í‰ê°€ì— ëŒ€í•œ ë°ì´í„° : u.data

In [7]:
import os
import pandas as pd

# user ë°ì´í„°
base_dir = r"C:\Users\njh45\OneDrive\ë°”íƒ• í™”ë©´\tobigs_23ê¸°\week5\Rec_data" # ê²½ë¡œ ì¬ì„¤ì •í•˜ê¸°
u_user_path = os.path.join(base_dir, "u.user")
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(u_user_path,
                    sep='|',
                    names=u_cols,
                    encoding='latin-1'
                    )
users = users.set_index('user_id')
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [8]:
# item ë°ì´í„°
u_item_path = os.path.join(base_dir, "u.item")
i_cols = ['movie_id', 'title', 'release date', 'video release date',
          'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation',
          'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
          'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
          'Thriller', 'War', 'Western']
movies = pd.read_csv(u_item_path,
                    sep='|',
                    names=i_cols,
                    encoding='latin-1'
                    )
movies = movies.set_index('movie_id')
movies.head()

,title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
#rating Data
u_data_path = os.path.join(base_dir, "u.data")
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(u_data_path,
                    sep='\t',
                    names=r_cols,
                    encoding='latin-1'
                    )
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [10]:
import numpy as np
from sklearn.model_selection import train_test_split

#RMSE í•¨ìˆ˜
def RMSE(y_true, y_pred):
    return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred))**2))

# score(RMSE) ê³„ì‚°
def score(model):

    # test ë°ì´í„°ì˜ user_idì™€ movie_id ê°„ pairë¥¼ ë§ì¶° íŠœí”Œí˜• ì›ì†Œ ë¦¬ìŠ¤íŠ¸ ë°ì´í„°ë¥¼ ë§Œë“¬
    id_pairs = zip(x_test['user_id'], x_test['movie_id'])

    # ëª¨ë“  ì‚¬ìš©ì-ì˜í™” pair ì§ì— ëŒ€í•´ì„œ ì£¼ì–´ì§„ ì˜ˆì¸¡ ëª¨ë¸ì— ì˜í•´ ì˜ˆì¸¡ê°’ ê³„ì‚° ë° ë¦¬ìŠ¤íŠ¸í˜• ë°ì´í„° ìƒì„±
    y_pred = np.array([model(user, movie) for (user, movie) in id_pairs])

    y_true = np.array(x_test['rating'])

    return RMSE(y_true, y_pred)


### ë°ì´í„°ì…‹ ë§Œë“¤ê¸° ####
x = ratings.copy()
y = ratings['user_id']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y)

ratings_matrix = x_train.pivot(index='user_id', columns='movie_id', values='rating')


# ì‚¬ìš©ì ê°„ ì½”ì‚¬ì¸ ìœ ì‚¬ë„ ê³„ì‚°
from sklearn.metrics.pairwise import cosine_similarity

matrix_dummy = ratings_matrix.copy().fillna(0)


user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)

user_similarity = pd.DataFrame(user_similarity,
                                index=ratings_matrix.index,
                                columns=ratings_matrix.index)

## [ë¬¸ì œ1] Simple CF
### ì•„ë˜ ì„¤ëª…ì— ë”°ë¼ ì§ì ‘ êµ¬í˜„í•´ë³¼ ê²ƒ
1. **ì˜í™”ê°€ í‰ì  ë§¤íŠ¸ë¦­ìŠ¤ì— ìˆëŠ”ì§€ í™•ì¸**: í•´ë‹¹ movie_idê°€ í‰ì  ë§¤íŠ¸ë¦­ìŠ¤ì— ìˆëŠ”ì§€ í™•ì¸í•˜ì—¬ ìˆìœ¼ë©´ ë‹¤ìŒ ë‹¨ê³„ë¡œ ì§„í–‰.


2. **ì‚¬ìš©ì ìœ ì‚¬ë„ì™€ ì˜í™” í‰ì  ì¶”ì¶œ**: user_idì˜ ìœ ì‚¬ë„ ì ìˆ˜ì™€ movie_idì˜ ì˜í™” í‰ì ì„ ì¶”ì¶œ.


3. **í‰ì ì´ ì—†ëŠ” ì‚¬ìš©ì ì œê±°**: ì˜í™”ì— í‰ì ì„ ë§¤ê¸°ì§€ ì•Šì€ ì‚¬ìš©ì(í‰ì ì´ ì—†ëŠ” ì‚¬ìš©ì)ë¥¼ ì œê±°í•˜ê³ , ê·¸ì— í•´ë‹¹í•˜ëŠ” ìœ ì‚¬ë„ ì ìˆ˜ë„ ì œê±°.


4. **ê°€ì¤‘ í‰ê·  ê³„ì‚°**: ìœ ì‚¬ë„ ì ìˆ˜ë¥¼ ê°€ì¤‘ì¹˜ë¡œ í•˜ì—¬ í‰ì ì˜ ê°€ì¤‘ í‰ê· ì„ ê³„ì‚°í•´ ì˜ˆì¸¡ í‰ì ì„ ìƒì„±.


5. **ì˜í™”ê°€ ì—†ì„ ê²½ìš° ê¸°ë³¸ê°’ ì‚¬ìš©**: í•´ë‹¹ ì˜í™”ê°€ ë§¤íŠ¸ë¦­ìŠ¤ì— ì—†ìœ¼ë©´ ê¸°ë³¸ê°’ì¸ 3.0ì„ ì˜ˆì¸¡ í‰ì ìœ¼ë¡œ ë°˜í™˜.


6. **ê²°ê³¼ ë°˜í™˜**: ê³„ì‚°ëœ ì˜ˆì¸¡ í‰ì ì„ ë°˜í™˜.

In [11]:
## ì½”ë“œ ì±„ìš°ê¸°

### ì£¼ì–´ì§„ ì˜í™”ì˜(movie_id) ê°€ì¤‘ í‰ê·  ratingì„ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ ###
def CF_simple(user_id, movie_id):

    # movie_idê°€ ratings_matrixì— ìˆëŠ” ê²½ìš°ì—ë§Œ ì•„ë˜ ì½”ë“œë¥¼ ì‹¤í–‰
    if movie_id in ratings_matrix.columns:

        # í•´ë‹¹ user_idì˜ ìœ ì‚¬ë„ ì ìˆ˜ë¥¼ ë³µì‚¬í•´ì˜´
        sim_scores = user_similarity[user_id].copy()

        # í•´ë‹¹ movie_idì— ëŒ€í•œ ì˜í™” í‰ì ì„ ë³µì‚¬í•´ì˜´
        movie_ratings = ratings_matrix[movie_id].copy()

        # ì˜í™” í‰ì ì´ ì—†ëŠ”(null) ì¸ë±ìŠ¤ë¥¼ ì°¾ì•„ ì €ì¥
        none_rating_idx = movie_ratings[movie_ratings.isnull()].index

        # null ê°’ì´ ìˆëŠ” í–‰ì„ ì œê±°í•˜ì—¬ í‰ì ë§Œ ë‚¨ê¹€
        movie_ratings.drop(index=none_rating_idx, inplace=True)

        # ìœ ì‚¬ë„ ì ìˆ˜ì—ì„œ nullì´ì—ˆë˜ ì‚¬ìš©ìì˜ ìœ ì‚¬ë„ ì ìˆ˜ ì œê±°
        sim_scores.drop(index=none_rating_idx, inplace=True)

        # í‰ì ê³¼ ìœ ì‚¬ë„ ì ìˆ˜ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ê°€ì¤‘ í‰ê· ì„ ê³„ì‚°í•˜ì—¬ ì˜ˆì¸¡ í‰ì ì„ ë§Œë“¦
        weighted_ratings = movie_ratings * sim_scores
        mean_rating = weighted_ratings.sum() / sim_scores.sum()  # ê°€ì¤‘ í‰ê·  ê³„ì‚°

    else:
        # movie_idê°€ ì—†ìœ¼ë©´ ê¸°ë³¸ í‰ì  3.0ì„ ë°˜í™˜
        mean_rating = 3.0

    # ê³„ì‚°ëœ í‰ì  ë°˜í™˜
    return mean_rating

In [12]:
# ì •í™•ë„ ê³„ì‚°
score(CF_simple)

1.0204669809808065

## [ë¬¸ì œ2] ì´ì›ƒì„ ê³ ë ¤í•œ CF

In [ ]:
## score í•¨ìˆ˜
## ìœ ì‚¬ì§‘ë‹¨ì˜ í¬ê¸°ë¥¼ ë¯¸ë¦¬ ì •í•˜ê¸° ìœ„í•´ ê¸°ì¡´ score í•¨ìˆ˜ì— neighbor_size ì¸ìê°’ ì¶”ê°€

def score(model, neighbor_size=0):

    # test ë°ì´í„°ì˜ user_idì™€ movie_id ê°„ pairë¥¼ ë§ì¶° íŠœí”Œí˜• ì›ì†Œ ë¦¬ìŠ¤íŠ¸ ë°ì´í„°ë¥¼ ë§Œë“¬
    id_pairs = zip(x_test['user_id'], x_test['movie_id'])

    # ëª¨ë“  ì‚¬ìš©ì-ì˜í™” pair ì§ì— ëŒ€í•´ì„œ ì£¼ì–´ì§„ ì˜ˆì¸¡ ëª¨ë¸ì— ì˜í•´ ì˜ˆì¸¡ê°’ ê³„ì‚° ë° ë¦¬ìŠ¤íŠ¸í˜• ë°ì´í„° ìƒì„±
    y_pred = np.array([model(user, movie, neighbor_size) for (user, movie) in id_pairs])

    y_true = np.array(x_test['rating'])

    return RMSE(y_true, y_pred)

In [14]:
## ì½”ë“œ ì±„ìš°ê¸°

### Neighborë¥¼ ì •í•´ì„œ ì˜ˆì¸¡ê°’ì„ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜
def CF_knn(user_id, movie_id, neighbor_size=0):
  if movie_id in ratings_matrix.columns:
    sim_scores = user_similarity[user_id].copy()
    movie_ratings = ratings_matrix[movie_id].copy()
    none_rating_idx = movie_ratings[movie_ratings.isnull()].index
    movie_ratings = movie_ratings.dropna()
    sim_scores = sim_scores.drop(none_rating_idx)
    # ì—¬ê¸°ê¹Œì§€ëŠ” ë™ì¼

    # neighbor_sizeê°€ 0ì¸ ê²½ìš°
    if neighbor_size == 0:

      # ëª¨ë“  ìœ ì‚¬ë„ ì ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ê°€ì¤‘ í‰ê· ì„ ê³„ì‚°
      mean_rating = np.dot(sim_scores, movie_ratings) / sim_scores.sum()

    # neighbor_sizeê°€ 0ì´ ì•„ë‹Œ ê²½ìš°
    else:
      if len(sim_scores) > 1:

        ### ìœ ì‚¬ë„ ì ìˆ˜ê°€ 1ë³´ë‹¤ í° ê²½ìš°, ì¦‰ 2ëª… ì´ìƒì˜ ìœ ì‚¬í•œ ì‚¬ìš©ìê°€ ìˆì„ ë•Œ

        # neighbor_sizeê°€ ìœ ì‚¬í•œ ì‚¬ìš©ì ìˆ˜ë¥¼ ë„˜ì§€ ì•Šë„ë¡ ì œí•œ
        neighbor_size = min(neighbor_size, len(sim_scores))

        # ìœ ì‚¬ë„ ì ìˆ˜ë¥¼ numpy ë°°ì—´ë¡œ ë³€í™˜
        sim_scores = np.array(sim_scores)

        # ì˜í™” í‰ì ì„ numpy ë°°ì—´ë¡œ ë³€í™˜
        movie_ratings = np.array(movie_ratings)

        # ìœ ì‚¬ë„ ì ìˆ˜ë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ ì¸ë±ìŠ¤ë¥¼ ì–»ìŒ
        user_idx = np.argsort(sim_scores)[::-1]

        # ìƒìœ„ neighbor_sizeê°œì˜ ìœ ì‚¬ë„ ì ìˆ˜ ì„ íƒ
        sim_scores = sim_scores[user_idx][:neighbor_size]

        # ìƒìœ„ neighbor_sizeê°œì˜ í‰ì  ì„ íƒ
        movie_ratings = movie_ratings[user_idx][:neighbor_size]

        # ì„ íƒëœ ìœ ì‚¬ë„ì™€ í‰ì ì„ ì‚¬ìš©í•´ ê°€ì¤‘ í‰ê·  ê³„ì‚°
        mean_rating = np.dot(sim_scores, movie_ratings) / sim_scores.sum()

      else:
        # ìœ ì‚¬í•œ ì‚¬ìš©ìê°€ 1ëª… ì´í•˜ì¸ ê²½ìš° ê¸°ë³¸ í‰ì  3.0ì„ ë°˜í™˜
        mean_rating = 3.0
  else:
    # movie_idê°€ ì—†ê±°ë‚˜ neighbor_sizeê°€ ì—†ì„ ê²½ìš° ê¸°ë³¸ í‰ì  3.0ì„ ë°˜í™˜
    mean_rating = 3.0

  return mean_rating

In [15]:
#ì •í™•ë„ ê³„ì‚°
score(CF_knn, neighbor_size=10)

1.0285914510266663

In [16]:
## CF_knnì„ ì´ìš©í•˜ì—¬ ì‚¬ìš©ìì—ê²Œ ì˜í™”ë¥¼ ì¶”ì²œí•˜ëŠ” ê¸°ëŠ¥ êµ¬í˜„
## KNN í´ëŸ¬ìŠ¤í„°ë¥¼ ì‚¬ìš©í•´ì„œ íŠ¹ì • ì‚¬ìš©ìì—ê²Œ ê°€ê¹Œìš´ ì‚¬ìš©ìë“¤ì„ ì°¸ê³ 

# train setì´ ì•„ë‹Œ full matrixë¡œ ë‹¤ì‹œ ì„¤ì •
ratings_matrix_full= ratings.pivot_table(values='rating',
                                     index='user_id',
                                     columns='movie_id')
matrix_dummy = ratings_matrix_full.copy().fillna(0)
user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
user_similarity = pd.DataFrame(user_similarity,
                               index=ratings_matrix_full.index,
                               columns=ratings_matrix_full.index)

def recommend_movie(user_id, n_items, neighbor_size = 10):  # ì´ì „ì— ì°¾ì€ ìµœì ì˜ kê°’ì„ ì„¤ì •
  user_movie = ratings_matrix_full.loc[user_id].copy()

  for movie in ratings_matrix_full.columns:
    if pd.notnull(user_movie.loc[movie]):
      user_movie.loc[movie] = 0

    else:
      user_movie.loc[movie] = CF_knn(user_id, movie, neighbor_size)

  movie_sort = user_movie.sort_values(ascending=False)[:n_items]
  recom_movies = movies.loc[movie_sort.index]
  recommendations = recom_movies['title']

  return recommendations

- user_id 4ë²ˆí•œí…Œ 5ê°œë¥¼ ì¶”ì²œí•˜ë©° ì´ë•Œ, kê°’ì€ 4ë²ˆê³¼ì˜ ìœ ì‚¬ë„ê°€ ê°€ì¥ ë†’ì€ ìƒìœ„ këª…ì¸ 15ëª…ìœ¼ë¡œ ì„¤ì •

In [17]:
recommend_movie(user_id=4, n_items=5, neighbor_size=15)

movie_id
1189                      Prefontaine (1997)
1500               Santa with Muscles (1996)
1467    Saint of Fort Washington, The (1993)
1293                         Star Kid (1997)
1449                  Pather Panchali (1955)
Name: title, dtype: object

## [ì„ íƒê³¼ì œ] MF(Matrix Factorization)
### ì–´ë µì§€ ì•ŠìŠµë‹ˆë‹¤! MFì˜ ì›ë¦¬ì™€ ë¡œì§ì„ í•˜ë‚˜í•˜ë‚˜ ì§šì–´ê°€ë©´ì„œ ì‘ì„±í•˜ì‹œë©´ ë©ë‹ˆë‹¤ ğŸ˜€

In [ ]:
class MF():
    def __init__(self, ratings, hyper_params, verbose=True):
        # ratings í–‰ë ¬ì„ numpy ë°°ì—´ë¡œ ë³€í™˜
        self.R = np.array(ratings)

        # ì‚¬ìš©ì ìˆ˜ì™€ ì•„ì´í…œ ìˆ˜ë¥¼ R í–‰ë ¬ì˜ shapeë¡œë¶€í„° ê³„ì‚°
        self.num_users, self.num_items = np.shape(self.R)

        # í•˜ì´í¼íŒŒë¼ë¯¸í„° ì„¤ì • (ì ì¬ ìš”ì¸ ìˆ˜ K, í•™ìŠµë¥  alpha, ì •ê·œí™” íŒŒë¼ë¯¸í„° beta, ë°˜ë³µ íšŸìˆ˜ iterations)
        self.k = hyper_params['K']
        self.alpha = hyper_params['alpha']
        self.beta = hyper_params['beta']
        self.iterations = hyper_params['iterations']

        # í•™ìŠµ ì¤‘ê°„ ê²°ê³¼ë¥¼ ì¶œë ¥í• ì§€ ì—¬ë¶€
        self.verbose = hyper_params['verbose']


    def rmse(self):
        # R í–‰ë ¬ì—ì„œ ê°’ì´ ìˆëŠ” (0ì´ ì•„ë‹Œ) ìœ„ì¹˜ì˜ ì¢Œí‘œë¥¼ ê°€ì ¸ì˜´
        xs, ys =

        # ì˜ˆì¸¡ ê°’ê³¼ ì‹¤ì œ ê°’ ê°„ì˜ ì°¨ì´ë¥¼ ì €ì¥í•  ë¦¬ìŠ¤íŠ¸ ì´ˆê¸°í™”
        self.predictions = []
        self.errors = []

        # ê° ì‚¬ìš©ìì™€ ì•„ì´í…œì˜ ì‹¤ì œ í‰ì ì„ ì˜ˆì¸¡í•˜ê³  ì—ëŸ¬ ê³„ì‚°
        for x, y in zip(xs, ys):

            # xë²ˆì§¸ ì‚¬ìš©ì, yë²ˆì§¸ ì•„ì´í…œì˜ ì˜ˆì¸¡ ê°’ ê³„ì‚°
            prediction =

            # ì˜ˆì¸¡ ê°’ì„ ë¦¬ìŠ¤íŠ¸ì— ì €ì¥
            self.predictions.append(prediction)

            # ì‹¤ì œ ê°’ê³¼ ì˜ˆì¸¡ ê°’ì˜ ì°¨ì´ë¥¼ ì—ëŸ¬ë¡œ ì €ì¥
            self.errors.append( {ì±„ìš°ê¸°} )

        # ì˜ˆì¸¡ ê°’ê³¼ ì—ëŸ¬ ë¦¬ìŠ¤íŠ¸ë¥¼ numpy ë°°ì—´ë¡œ ë³€í™˜
        self.predictions =
        self.errors =

        return np.sqrt(np.mean(self.errors**2))


    def train(self):
        # P í–‰ë ¬(ì‚¬ìš©ì-ì ì¬ ìš”ì¸ í–‰ë ¬) ì´ˆê¸°í™” (ì •ê·œ ë¶„í¬ë¡œ ë‚œìˆ˜ ìƒì„±)
        self.P =

        # Q í–‰ë ¬(ì•„ì´í…œ-ì ì¬ ìš”ì¸ í–‰ë ¬) ì´ˆê¸°í™” (ì •ê·œ ë¶„í¬ë¡œ ë‚œìˆ˜ ìƒì„±)
        self.Q =

        # ì‚¬ìš©ì ë°”ì´ì–´ìŠ¤(bias) ì´ˆê¸°í™”
        self.b_u =

        # ì•„ì´í…œ ë°”ì´ì–´ìŠ¤(bias) ì´ˆê¸°í™”
        self.b_d =

        # ì „ì²´ í‰ê·  í‰ì  ê³„ì‚°
        self.b =

        # ê°’ì´ ìˆëŠ” R í–‰ë ¬ì˜ ì¢Œí‘œ ì €ì¥
        rows, columns =

        # ê° ì‚¬ìš©ìì™€ ì•„ì´í…œì˜ í‰ì  ì •ë³´ë¥¼ ìƒ˜í”Œë¡œ ì €ì¥
        self.samples = [(i, j, self.R[i, j]) for i, j in zip(rows, columns)]

        # í•™ìŠµ ê³¼ì • ê¸°ë¡ì„ ìœ„í•œ ë¦¬ìŠ¤íŠ¸
        training_process = []

        # ì§€ì •ëœ ë°˜ë³µ íšŸìˆ˜ë§Œí¼ í•™ìŠµ ì§„í–‰
        for i in range(self.iterations):

            # ìƒ˜í”Œì„ ë¬´ì‘ìœ„ë¡œ ì„ìŒ
            np.random.shuffle(self.samples)

            # í™•ë¥ ì  ê²½ì‚¬ í•˜ê°•ë²•(SGD) ìˆ˜í–‰
            self.sgd()

            # í˜„ì¬ ëª¨ë¸ì˜ RMSE ê³„ì‚°
            rmse = self.rmse()

            # í•™ìŠµ ê³¼ì •ì„ ê¸°ë¡
            training_process.append((i+1, rmse))

            # verboseê°€ Trueì¸ ê²½ìš°, 10ë²ˆë§ˆë‹¤ ì§„í–‰ ìƒí™© ì¶œë ¥
            if self.verbose:
                if (i+1) % 10 == 0:
                    print("Iteration: %d ; train RMSE = %.4f" % (i+1, rmse))

        return training_process


    def get_prediction(self, i, j):
        # ì‚¬ìš©ì iì™€ ì•„ì´í…œ jì— ëŒ€í•œ ì˜ˆì¸¡ ê°’ ê³„ì‚° (í‰ê· ê°’ + ì‚¬ìš©ì ë°”ì´ì–´ìŠ¤ + ì•„ì´í…œ ë°”ì´ì–´ìŠ¤ + Pì™€ Qì˜ ë‚´ì )
        prediction = self.b + self.b_u[i] + self.b_d[j] + self.P[i, :].dot(self.Q[j, :].T)

        return prediction


    def sgd(self):
        # ìƒ˜í”Œì— ëŒ€í•´ í™•ë¥ ì  ê²½ì‚¬ í•˜ê°•ë²•(SGD) ìˆ˜í–‰
        for i, j, r in self.samples:

            # ì‚¬ìš©ì iì™€ ì•„ì´í…œ jì— ëŒ€í•œ ì˜ˆì¸¡ ê°’ ê³„ì‚°
            prediction = self.get_prediction(i, j)

            # ì˜ˆì¸¡ ê°’ê³¼ ì‹¤ì œ ê°’ì˜ ì°¨ì´(ì˜¤ì°¨) ê³„ì‚°
            e = (r - prediction)

            # ì‚¬ìš©ì ë°”ì´ì–´ìŠ¤ ì—…ë°ì´íŠ¸
            self.b_u[i] += self.alpha * (e - self.beta * self.b_u[i])

            # ì•„ì´í…œ ë°”ì´ì–´ìŠ¤ ì—…ë°ì´íŠ¸
            self.b_d[j] += self.alpha * (e - self.beta * self.b_d[j])

            # P í–‰ë ¬(ì‚¬ìš©ì-ì ì¬ ìš”ì¸ í–‰ë ¬) ì—…ë°ì´íŠ¸
            self.P[i, :] += self.alpha * (e * self.Q[j, :] - (self.beta * self.P[i, :]))

            # Q í–‰ë ¬(ì•„ì´í…œ-ì ì¬ ìš”ì¸ í–‰ë ¬) ì—…ë°ì´íŠ¸
            self.Q[j, :] += self.alpha * (e * self.P[i, :] - (self.beta * self.Q[j, :]))

In [ ]:
R_temp = ratings.pivot(index='user_id', columns='movie_id', values='rating').fillna(0)

hyper_params = {
    'K': 30,
    'alpha': 0.001,
    'beta': 0.02,
    'iterations': 100,
    'verbose': True
}

mf = MF(R_temp, hyper_params)

training_process = mf.train()

Iteration: 10 ; train RMSE = 0.9585
Iteration: 20 ; train RMSE = 0.9374
Iteration: 30 ; train RMSE = 0.9280
Iteration: 40 ; train RMSE = 0.9225
Iteration: 50 ; train RMSE = 0.9182
Iteration: 60 ; train RMSE = 0.9141
Iteration: 70 ; train RMSE = 0.9091
Iteration: 80 ; train RMSE = 0.9022
Iteration: 90 ; train RMSE = 0.8928
Iteration: 100 ; train RMSE = 0.8811