## **WEEK5 RecSys assignment**

### : **Collaborative Filtering** ÏßÅÏ†ë Íµ¨ÌòÑÌï¥Î≥¥Í∏∞
<br>

#### Î¨∏Ï†úÎäî ÏΩîÎìúÏùò Îπà Î∂ÄÎ∂ÑÏùÑ Ï±ÑÏö∞Îäî Í≥ºÏ†úÏûÖÎãàÎã§.
<br>

##### ÏßàÎ¨∏ ÏûàÏúºÏãúÎ©¥ 22Í∏∞ Ï°∞ÌïòÎäòÏóêÍ≤å Ïó∞ÎùΩÏ£ºÏÑ∏Ïöî

## **Data**

### MovieLens Data
- Ïù¥ Îç∞Ïù¥ÌÑ∞Îäî Ï¥ù 3Í∞ÄÏßÄÏùò ÌååÏùºÎ°ú Íµ¨ÏÑ±Îê©ÎãàÎã§.
  > ÏÇ¨Ïö©Ïûê Îç∞Ïù¥ÌÑ∞ : u.user
  >
  > ÏòÅÌôîÏóê ÎåÄÌïú Îç∞Ïù¥ÌÑ∞ : u.item
  >
  > ÏòÅÌôî ÌèâÍ∞ÄÏóê ÎåÄÌïú Îç∞Ïù¥ÌÑ∞ : u.data

In [4]:
import os
import pandas as pd

# user Îç∞Ïù¥ÌÑ∞
base_dir = "Rec_data" #Í≤ΩÎ°ú Ïû¨ÏÑ§Ï†ïÌïòÍ∏∞
u_user_path = os.path.join(base_dir, "u.user")
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(u_user_path,
                    sep='|',
                    names=u_cols,
                    encoding='latin-1'
                    )
users = users.set_index('user_id')
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [5]:
# item Îç∞Ïù¥ÌÑ∞
u_item_path = os.path.join(base_dir, "u.item")
i_cols = ['movie_id', 'title', 'release date', 'video release date',
          'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation',
          'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
          'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
          'Thriller', 'War', 'Western']
movies = pd.read_csv(u_item_path,
                    sep='|',
                    names=i_cols,
                    encoding='latin-1'
                    )
movies = movies.set_index('movie_id')
movies.head()

,title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [6]:
#rating Data
u_data_path = os.path.join(base_dir, "u.data")
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(u_data_path,
                    sep='\t',
                    names=r_cols,
                    encoding='latin-1'
                    )
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [7]:
import numpy as np
from sklearn.model_selection import train_test_split

#RMSE Ìï®Ïàò
def RMSE(y_true, y_pred):
    return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred))**2))

# score(RMSE) Í≥ÑÏÇ∞
def score(model):

    # test Îç∞Ïù¥ÌÑ∞Ïùò user_idÏôÄ movie_id Í∞Ñ pairÎ•º ÎßûÏ∂∞ ÌäúÌîåÌòï ÏõêÏÜå Î¶¨Ïä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î•º ÎßåÎì¨
    id_pairs = zip(x_test['user_id'], x_test['movie_id'])

    # Î™®Îì† ÏÇ¨Ïö©Ïûê-ÏòÅÌôî pair ÏßùÏóê ÎåÄÌï¥ÏÑú Ï£ºÏñ¥ÏßÑ ÏòàÏ∏° Î™®Îç∏Ïóê ÏùòÌï¥ ÏòàÏ∏°Í∞í Í≥ÑÏÇ∞ Î∞è Î¶¨Ïä§Ìä∏Ìòï Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
    y_pred = np.array([model(user, movie) for (user, movie) in id_pairs])

    y_true = np.array(x_test['rating'])

    return RMSE(y_true, y_pred)


### Îç∞Ïù¥ÌÑ∞ÏÖã ÎßåÎì§Í∏∞ ####
x = ratings.copy()
y = ratings['user_id']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y)

ratings_matrix = x_train.pivot(index='user_id', columns='movie_id', values='rating')


# ÏÇ¨Ïö©Ïûê Í∞Ñ ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑ Í≥ÑÏÇ∞
from sklearn.metrics.pairwise import cosine_similarity

matrix_dummy = ratings_matrix.copy().fillna(0)


user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)

user_similarity = pd.DataFrame(user_similarity,
                                index=ratings_matrix.index,
                                columns=ratings_matrix.index)

## [Î¨∏Ï†ú1] Simple CF
### ÏïÑÎûò ÏÑ§Î™ÖÏóê Îî∞Îùº ÏßÅÏ†ë Íµ¨ÌòÑÌï¥Î≥º Í≤É
1. **ÏòÅÌôîÍ∞Ä ÌèâÏ†ê Îß§Ìä∏Î¶≠Ïä§Ïóê ÏûàÎäîÏßÄ ÌôïÏù∏**: Ìï¥Îãπ movie_idÍ∞Ä ÌèâÏ†ê Îß§Ìä∏Î¶≠Ïä§Ïóê ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏó¨ ÏûàÏúºÎ©¥ Îã§Ïùå Îã®Í≥ÑÎ°ú ÏßÑÌñâ.


2. **ÏÇ¨Ïö©Ïûê Ïú†ÏÇ¨ÎèÑÏôÄ ÏòÅÌôî ÌèâÏ†ê Ï∂îÏ∂ú**: user_idÏùò Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÏôÄ movie_idÏùò ÏòÅÌôî ÌèâÏ†êÏùÑ Ï∂îÏ∂ú.


3. **ÌèâÏ†êÏù¥ ÏóÜÎäî ÏÇ¨Ïö©Ïûê Ï†úÍ±∞**: ÏòÅÌôîÏóê ÌèâÏ†êÏùÑ Îß§Í∏∞ÏßÄ ÏïäÏùÄ ÏÇ¨Ïö©Ïûê(ÌèâÏ†êÏù¥ ÏóÜÎäî ÏÇ¨Ïö©Ïûê)Î•º Ï†úÍ±∞ÌïòÍ≥†, Í∑∏Ïóê Ìï¥ÎãπÌïòÎäî Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÎèÑ Ï†úÍ±∞.


4. **Í∞ÄÏ§ë ÌèâÍ∑† Í≥ÑÏÇ∞**: Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÎ•º Í∞ÄÏ§ëÏπòÎ°ú ÌïòÏó¨ ÌèâÏ†êÏùò Í∞ÄÏ§ë ÌèâÍ∑†ÏùÑ Í≥ÑÏÇ∞Ìï¥ ÏòàÏ∏° ÌèâÏ†êÏùÑ ÏÉùÏÑ±.


5. **ÏòÅÌôîÍ∞Ä ÏóÜÏùÑ Í≤ΩÏö∞ Í∏∞Î≥∏Í∞í ÏÇ¨Ïö©**: Ìï¥Îãπ ÏòÅÌôîÍ∞Ä Îß§Ìä∏Î¶≠Ïä§Ïóê ÏóÜÏúºÎ©¥ Í∏∞Î≥∏Í∞íÏù∏ 3.0ÏùÑ ÏòàÏ∏° ÌèâÏ†êÏúºÎ°ú Î∞òÌôò.


6. **Í≤∞Í≥º Î∞òÌôò**: Í≥ÑÏÇ∞Îêú ÏòàÏ∏° ÌèâÏ†êÏùÑ Î∞òÌôò.

In [11]:
## ÏΩîÎìú Ï±ÑÏö∞Í∏∞

### Ï£ºÏñ¥ÏßÑ ÏòÅÌôîÏùò(movie_id) Í∞ÄÏ§ë ÌèâÍ∑† ratingÏùÑ Í≥ÑÏÇ∞ÌïòÎäî Ìï®Ïàò ###
def CF_simple(user_id, movie_id):

    # movie_idÍ∞Ä ratings_matrixÏóê ÏûàÎäî Í≤ΩÏö∞ÏóêÎßå ÏïÑÎûò ÏΩîÎìúÎ•º Ïã§Ìñâ
    if movie_id in ratings_matrix.columns:
        # Ìï¥Îãπ user_idÏùò Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÎ•º Î≥µÏÇ¨Ìï¥Ïò¥
        sim_scores = user_similarity.loc[user_id].copy()

        # Ìï¥Îãπ movie_idÏóê ÎåÄÌïú ÏòÅÌôî ÌèâÏ†êÏùÑ Î≥µÏÇ¨Ìï¥Ïò¥
        movie_ratings = ratings_matrix[movie_id].copy()

        # ÏòÅÌôî ÌèâÏ†êÏù¥ ÏóÜÎäî(null) Ïù∏Îç±Ïä§Î•º Ï∞æÏïÑ Ï†ÄÏû•
        none_rating_idx = movie_ratings[movie_ratings.isnull()].index

        # null Í∞íÏù¥ ÏûàÎäî ÌñâÏùÑ Ï†úÍ±∞ÌïòÏó¨ ÌèâÏ†êÎßå ÎÇ®ÍπÄ
        movie_ratings = movie_ratings.drop(none_rating_idx)

        # Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÏóêÏÑú nullÏù¥ÏóàÎçò ÏÇ¨Ïö©ÏûêÏùò Ïú†ÏÇ¨ÎèÑ Ï†êÏàò Ï†úÍ±∞
        sim_scores = sim_scores.drop(none_rating_idx)

        # ÌèâÏ†êÍ≥º Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÎ•º Í∏∞Î∞òÏúºÎ°ú Í∞ÄÏ§ë ÌèâÍ∑†ÏùÑ Í≥ÑÏÇ∞ÌïòÏó¨ ÏòàÏ∏° ÌèâÏ†êÏùÑ ÎßåÎì¶
        weighted_ratings = movie_ratings * sim_scores
        mean_rating = weighted_ratings.sum() / sim_scores.sum()  # Í∞ÄÏ§ë ÌèâÍ∑† Í≥ÑÏÇ∞

    else:
        # movie_idÍ∞Ä ÏóÜÏúºÎ©¥ Í∏∞Î≥∏ ÌèâÏ†ê 3.0ÏùÑ Î∞òÌôò
        mean_rating = 3.0

    # Í≥ÑÏÇ∞Îêú ÌèâÏ†ê Î∞òÌôò
    return mean_rating

In [12]:
# Ï†ïÌôïÎèÑ Í≥ÑÏÇ∞
score(CF_simple)

1.012728714975727

## [Î¨∏Ï†ú2] Ïù¥ÏõÉÏùÑ Í≥†Î†§Ìïú CF

In [13]:
# score Ìï®Ïàò
## Ïú†ÏÇ¨ÏßëÎã®Ïùò ÌÅ¨Í∏∞Î•º ÎØ∏Î¶¨ Ï†ïÌïòÍ∏∞ ÏúÑÌï¥ Í∏∞Ï°¥ score Ìï®ÏàòÏóê neighbor_size Ïù∏ÏûêÍ∞í Ï∂îÍ∞Ä

def score(model, neighbor_size=0):

    # test Îç∞Ïù¥ÌÑ∞Ïùò user_idÏôÄ movie_id Í∞Ñ pairÎ•º ÎßûÏ∂∞ ÌäúÌîåÌòï ÏõêÏÜå Î¶¨Ïä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î•º ÎßåÎì¨
    id_pairs = zip(x_test['user_id'], x_test['movie_id'])

    # Î™®Îì† ÏÇ¨Ïö©Ïûê-ÏòÅÌôî pair ÏßùÏóê ÎåÄÌï¥ÏÑú Ï£ºÏñ¥ÏßÑ ÏòàÏ∏° Î™®Îç∏Ïóê ÏùòÌï¥ ÏòàÏ∏°Í∞í Í≥ÑÏÇ∞ Î∞è Î¶¨Ïä§Ìä∏Ìòï Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
    y_pred = np.array([model(user, movie, neighbor_size) for (user, movie) in id_pairs])

    y_true = np.array(x_test['rating'])

    return RMSE(y_true, y_pred)

In [14]:
## ÏΩîÎìú Ï±ÑÏö∞Í∏∞

### NeighborÎ•º Ï†ïÌï¥ÏÑú ÏòàÏ∏°Í∞íÏùÑ Í≥ÑÏÇ∞ÌïòÎäî Ìï®Ïàò
def CF_knn(user_id, movie_id, neighbor_size=0):
  if movie_id in ratings_matrix.columns:
    sim_scores = user_similarity[user_id].copy()
    movie_ratings = ratings_matrix[movie_id].copy()
    none_rating_idx = movie_ratings[movie_ratings.isnull()].index
    movie_ratings = movie_ratings.dropna()
    sim_scores = sim_scores.drop(none_rating_idx)
    # Ïó¨Í∏∞ÍπåÏßÄÎäî ÎèôÏùº

    # neighbor_sizeÍ∞Ä 0Ïù∏ Í≤ΩÏö∞
    if neighbor_size == 0:

      # Î™®Îì† Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Í∞ÄÏ§ë ÌèâÍ∑†ÏùÑ Í≥ÑÏÇ∞
      mean_rating = np.dot(sim_scores, movie_ratings) / sim_scores.sum()

    # neighbor_sizeÍ∞Ä 0Ïù¥ ÏïÑÎãå Í≤ΩÏö∞
    else:
      if len(sim_scores) > 1:

        ### Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÍ∞Ä 1Î≥¥Îã§ ÌÅ∞ Í≤ΩÏö∞, Ï¶â 2Î™Ö Ïù¥ÏÉÅÏùò Ïú†ÏÇ¨Ìïú ÏÇ¨Ïö©ÏûêÍ∞Ä ÏûàÏùÑ Îïå

        # neighbor_sizeÍ∞Ä Ïú†ÏÇ¨Ìïú ÏÇ¨Ïö©Ïûê ÏàòÎ•º ÎÑòÏßÄ ÏïäÎèÑÎ°ù Ï†úÌïú
        neighbor_size = min(neighbor_size, len(sim_scores))

        # Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÎ•º numpy Î∞∞Ïó¥Î°ú Î≥ÄÌôò
        sim_scores = np.array(sim_scores)

        # ÏòÅÌôî ÌèâÏ†êÏùÑ numpy Î∞∞Ïó¥Î°ú Î≥ÄÌôò
        movie_ratings = np.array(movie_ratings)

        # Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÎ•º Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìïú Ïù∏Îç±Ïä§Î•º ÏñªÏùå
        user_idx = np.argsort(sim_scores)

        # ÏÉÅÏúÑ neighbor_sizeÍ∞úÏùò Ïú†ÏÇ¨ÎèÑ Ï†êÏàò ÏÑ†ÌÉù
        sim_scores = sim_scores[user_idx][-neighbor_size:]

        # ÏÉÅÏúÑ neighbor_sizeÍ∞úÏùò ÌèâÏ†ê ÏÑ†ÌÉù
        movie_ratings = movie_ratings[user_idx][-neighbor_size:]

        # ÏÑ†ÌÉùÎêú Ïú†ÏÇ¨ÎèÑÏôÄ ÌèâÏ†êÏùÑ ÏÇ¨Ïö©Ìï¥ Í∞ÄÏ§ë ÌèâÍ∑† Í≥ÑÏÇ∞
        mean_rating = np.dot(sim_scores, movie_ratings) / sim_scores.sum()

      else:
        # Ïú†ÏÇ¨Ìïú ÏÇ¨Ïö©ÏûêÍ∞Ä 1Î™Ö Ïù¥ÌïòÏù∏ Í≤ΩÏö∞ Í∏∞Î≥∏ ÌèâÏ†ê 3.0ÏùÑ Î∞òÌôò
        mean_rating = 3.0
  else:
    # movie_idÍ∞Ä ÏóÜÍ±∞ÎÇò neighbor_sizeÍ∞Ä ÏóÜÏùÑ Í≤ΩÏö∞ Í∏∞Î≥∏ ÌèâÏ†ê 3.0ÏùÑ Î∞òÌôò
    mean_rating = 3.0

  return mean_rating

In [15]:
#Ï†ïÌôïÎèÑ Í≥ÑÏÇ∞
score(CF_knn, neighbor_size=10)

1.0239184606790586

In [16]:
## CF_knnÏùÑ Ïù¥Ïö©ÌïòÏó¨ ÏÇ¨Ïö©ÏûêÏóêÍ≤å ÏòÅÌôîÎ•º Ï∂îÏ≤úÌïòÎäî Í∏∞Îä• Íµ¨ÌòÑ

# train setÏù¥ ÏïÑÎãå full matrixÎ°ú Îã§Ïãú ÏÑ§Ï†ï
ratings_matrix_full= ratings.pivot_table(values='rating',
                                     index='user_id',
                                     columns='movie_id')
matrix_dummy = ratings_matrix_full.copy().fillna(0)
user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
user_similarity = pd.DataFrame(user_similarity,
                               index=ratings_matrix_full.index,
                               columns=ratings_matrix_full.index)

def recommend_movie(user_id, n_items, neighbor_size = 10):  # Ïù¥Ï†ÑÏóê Ï∞æÏùÄ ÏµúÏ†ÅÏùò kÍ∞íÏùÑ ÏÑ§Ï†ï
  user_movie = ratings_matrix_full.loc[user_id].copy()

  for movie in ratings_matrix_full.columns:
    if pd.notnull(user_movie.loc[movie]):
      user_movie.loc[movie] = 0

    else:
      user_movie.loc[movie] = CF_knn(user_id, movie, neighbor_size)

  movie_sort = user_movie.sort_values(ascending=False)[:n_items]
  recom_movies = movies.loc[movie_sort.index]
  recommendations = recom_movies['title']

  return recommendations

- user_id 4Î≤àÌïúÌÖå 5Í∞úÎ•º Ï∂îÏ≤úÌïòÎ©∞ Ïù¥Îïå, kÍ∞íÏùÄ 4Î≤àÍ≥ºÏùò Ïú†ÏÇ¨ÎèÑÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏÉÅÏúÑ kÎ™ÖÏù∏ 15Î™ÖÏúºÎ°ú ÏÑ§Ï†ï

In [17]:
recommend_movie(user_id=4, n_items=5, neighbor_size=15)

movie_id
1628           Lamerica (1994)
1293           Star Kid (1997)
1189        Prefontaine (1997)
1367              Faust (1994)
1368    Mina Tannenbaum (1994)
Name: title, dtype: object

## [ÏÑ†ÌÉùÍ≥ºÏ†ú] MF(Matrix Factorization)
### Ïñ¥Î†µÏßÄ ÏïäÏäµÎãàÎã§! MFÏùò ÏõêÎ¶¨ÏôÄ Î°úÏßÅÏùÑ ÌïòÎÇòÌïòÎÇò ÏßöÏñ¥Í∞ÄÎ©¥ÏÑú ÏûëÏÑ±ÌïòÏãúÎ©¥ Îê©ÎãàÎã§ üòÄ

In [20]:
class MF():
    def __init__(self, ratings, hyper_params, verbose=True):
        # ratings ÌñâÎ†¨ÏùÑ numpy Î∞∞Ïó¥Î°ú Î≥ÄÌôò
        self.R = np.array(ratings)

        # ÏÇ¨Ïö©Ïûê ÏàòÏôÄ ÏïÑÏù¥ÌÖú ÏàòÎ•º R ÌñâÎ†¨Ïùò shapeÎ°úÎ∂ÄÌÑ∞ Í≥ÑÏÇ∞
        self.num_users, self.num_items = np.shape(self.R)

        # ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÏÑ§Ï†ï (Ïû†Ïû¨ ÏöîÏù∏ Ïàò K, ÌïôÏäµÎ•† alpha, Ï†ïÍ∑úÌôî ÌååÎùºÎØ∏ÌÑ∞ beta, Î∞òÎ≥µ ÌöüÏàò iterations)
        self.k = hyper_params['K']
        self.alpha = hyper_params['alpha']
        self.beta = hyper_params['beta']
        self.iterations = hyper_params['iterations']

        # ÌïôÏäµ Ï§ëÍ∞Ñ Í≤∞Í≥ºÎ•º Ï∂úÎ†•Ìï†ÏßÄ Ïó¨Î∂Ä
        self.verbose = hyper_params['verbose']


    def rmse(self):
        # R ÌñâÎ†¨ÏóêÏÑú Í∞íÏù¥ ÏûàÎäî (0Ïù¥ ÏïÑÎãå) ÏúÑÏπòÏùò Ï¢åÌëúÎ•º Í∞ÄÏ†∏Ïò¥
        xs, ys = self.R.nonzero()

        # ÏòàÏ∏° Í∞íÍ≥º Ïã§Ï†ú Í∞í Í∞ÑÏùò Ï∞®Ïù¥Î•º Ï†ÄÏû•Ìï† Î¶¨Ïä§Ìä∏ Ï¥àÍ∏∞Ìôî
        self.predictions = []
        self.errors = []

        # Í∞Å ÏÇ¨Ïö©ÏûêÏôÄ ÏïÑÏù¥ÌÖúÏùò Ïã§Ï†ú ÌèâÏ†êÏùÑ ÏòàÏ∏°ÌïòÍ≥† ÏóêÎü¨ Í≥ÑÏÇ∞
        for x, y in zip(xs, ys):

            # xÎ≤àÏß∏ ÏÇ¨Ïö©Ïûê, yÎ≤àÏß∏ ÏïÑÏù¥ÌÖúÏùò ÏòàÏ∏° Í∞í Í≥ÑÏÇ∞
            prediction = self.get_prediction(x, y)

            # ÏòàÏ∏° Í∞íÏùÑ Î¶¨Ïä§Ìä∏Ïóê Ï†ÄÏû•
            self.predictions.append(prediction)

            # Ïã§Ï†ú Í∞íÍ≥º ÏòàÏ∏° Í∞íÏùò Ï∞®Ïù¥Î•º ÏóêÎü¨Î°ú Ï†ÄÏû•
            self.errors.append(self.R[x, y] - prediction)

        # ÏòàÏ∏° Í∞íÍ≥º ÏóêÎü¨ Î¶¨Ïä§Ìä∏Î•º numpy Î∞∞Ïó¥Î°ú Î≥ÄÌôò
        self.predictions = np.array(self.predictions)
        self.errors = np.array(self.errors)

        return np.sqrt(np.mean(self.errors**2))


    def train(self):
        # P ÌñâÎ†¨(ÏÇ¨Ïö©Ïûê-Ïû†Ïû¨ ÏöîÏù∏ ÌñâÎ†¨) Ï¥àÍ∏∞Ìôî (Ï†ïÍ∑ú Î∂ÑÌè¨Î°ú ÎÇúÏàò ÏÉùÏÑ±)
        self.P = np.random.normal(scale=1./self.k, size=(self.num_users, self.k))

        # Q ÌñâÎ†¨(ÏïÑÏù¥ÌÖú-Ïû†Ïû¨ ÏöîÏù∏ ÌñâÎ†¨) Ï¥àÍ∏∞Ìôî (Ï†ïÍ∑ú Î∂ÑÌè¨Î°ú ÎÇúÏàò ÏÉùÏÑ±)
        self.Q = np.random.normal(scale=1./self.k, size=(self.num_items, self.k))

        # ÏÇ¨Ïö©Ïûê Î∞îÏù¥Ïñ¥Ïä§(bias) Ï¥àÍ∏∞Ìôî
        self.b_u = np.zeros(self.num_users)

        # ÏïÑÏù¥ÌÖú Î∞îÏù¥Ïñ¥Ïä§(bias) Ï¥àÍ∏∞Ìôî
        self.b_d = np.zeros(self.num_items)

        # Ï†ÑÏ≤¥ ÌèâÍ∑† ÌèâÏ†ê Í≥ÑÏÇ∞
        self.b = np.mean(self.R[self.R > 0])

        # Í∞íÏù¥ ÏûàÎäî R ÌñâÎ†¨Ïùò Ï¢åÌëú Ï†ÄÏû•
        rows, columns = self.R.nonzero()

        # Í∞Å ÏÇ¨Ïö©ÏûêÏôÄ ÏïÑÏù¥ÌÖúÏùò ÌèâÏ†ê Ï†ïÎ≥¥Î•º ÏÉòÌîåÎ°ú Ï†ÄÏû•
        self.samples = [(i, j, self.R[i, j]) for i, j in zip(rows, columns)]

        # ÌïôÏäµ Í≥ºÏ†ï Í∏∞Î°ùÏùÑ ÏúÑÌïú Î¶¨Ïä§Ìä∏
        training_process = []

        # ÏßÄÏ†ïÎêú Î∞òÎ≥µ ÌöüÏàòÎßåÌÅº ÌïôÏäµ ÏßÑÌñâ
        for i in range(self.iterations):

            # ÏÉòÌîåÏùÑ Î¨¥ÏûëÏúÑÎ°ú ÏÑûÏùå
            np.random.shuffle(self.samples)

            # ÌôïÎ•†Ï†Å Í≤ΩÏÇ¨ ÌïòÍ∞ïÎ≤ï(SGD) ÏàòÌñâ
            self.sgd()

            # ÌòÑÏû¨ Î™®Îç∏Ïùò RMSE Í≥ÑÏÇ∞
            rmse = self.rmse()

            # ÌïôÏäµ Í≥ºÏ†ïÏùÑ Í∏∞Î°ù
            training_process.append((i+1, rmse))

            # verboseÍ∞Ä TrueÏù∏ Í≤ΩÏö∞, 10Î≤àÎßàÎã§ ÏßÑÌñâ ÏÉÅÌô© Ï∂úÎ†•
            if self.verbose:
                if (i+1) % 10 == 0:
                    print("Iteration: %d ; train RMSE = %.4f" % (i+1, rmse))

        return training_process


    def get_prediction(self, i, j):
        # ÏÇ¨Ïö©Ïûê iÏôÄ ÏïÑÏù¥ÌÖú jÏóê ÎåÄÌïú ÏòàÏ∏° Í∞í Í≥ÑÏÇ∞ (ÌèâÍ∑†Í∞í + ÏÇ¨Ïö©Ïûê Î∞îÏù¥Ïñ¥Ïä§ + ÏïÑÏù¥ÌÖú Î∞îÏù¥Ïñ¥Ïä§ + PÏôÄ QÏùò ÎÇ¥Ï†Å)
        prediction = self.b + self.b_u[i] + self.b_d[j] + self.P[i, :].dot(self.Q[j, :].T)

        return prediction


    def sgd(self):
        # ÏÉòÌîåÏóê ÎåÄÌï¥ ÌôïÎ•†Ï†Å Í≤ΩÏÇ¨ ÌïòÍ∞ïÎ≤ï(SGD) ÏàòÌñâ
        for i, j, r in self.samples:

            # ÏÇ¨Ïö©Ïûê iÏôÄ ÏïÑÏù¥ÌÖú jÏóê ÎåÄÌïú ÏòàÏ∏° Í∞í Í≥ÑÏÇ∞
            prediction = self.get_prediction(i, j)

            # ÏòàÏ∏° Í∞íÍ≥º Ïã§Ï†ú Í∞íÏùò Ï∞®Ïù¥(Ïò§Ï∞®) Í≥ÑÏÇ∞
            e = (r - prediction)

            # ÏÇ¨Ïö©Ïûê Î∞îÏù¥Ïñ¥Ïä§ ÏóÖÎç∞Ïù¥Ìä∏
            self.b_u[i] += self.alpha * (e - self.beta * self.b_u[i])

            # ÏïÑÏù¥ÌÖú Î∞îÏù¥Ïñ¥Ïä§ ÏóÖÎç∞Ïù¥Ìä∏
            self.b_d[j] += self.alpha * (e - self.beta * self.b_d[j])

            # P ÌñâÎ†¨(ÏÇ¨Ïö©Ïûê-Ïû†Ïû¨ ÏöîÏù∏ ÌñâÎ†¨) ÏóÖÎç∞Ïù¥Ìä∏
            self.P[i, :] += self.alpha * (e * self.Q[j, :] - (self.beta * self.P[i, :]))

            # Q ÌñâÎ†¨(ÏïÑÏù¥ÌÖú-Ïû†Ïû¨ ÏöîÏù∏ ÌñâÎ†¨) ÏóÖÎç∞Ïù¥Ìä∏
            self.Q[j, :] += self.alpha * (e * self.P[i, :] - (self.beta * self.Q[j, :]))

In [21]:
R_temp = ratings.pivot(index='user_id', columns='movie_id', values='rating').fillna(0)

hyper_params = {
    'K': 30,
    'alpha': 0.001,
    'beta': 0.02,
    'iterations': 100,
    'verbose': True
}

mf = MF(R_temp, hyper_params)

training_process = mf.train()

Iteration: 10 ; train RMSE = 0.9585
Iteration: 20 ; train RMSE = 0.9374
Iteration: 30 ; train RMSE = 0.9281
Iteration: 40 ; train RMSE = 0.9226
Iteration: 50 ; train RMSE = 0.9185
Iteration: 60 ; train RMSE = 0.9147
Iteration: 70 ; train RMSE = 0.9103
Iteration: 80 ; train RMSE = 0.9042
Iteration: 90 ; train RMSE = 0.8956
Iteration: 100 ; train RMSE = 0.8838